<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign source = include.data | default: site.data.cv %}
  {% assign education = nil %}
  {% if source == '' or source == nil %}
    {% assign education = nil %}
  {% elsif source.first.contents %}
    {% if include.section_title %}
      {% assign section = source | where: 'title', include.section_title | first %}
    {% else %}
      {% assign section = source[1] %}
    {% endif %}
    {% assign education = section.contents %}
  {% else %}
    {% assign education = source %}
  {% endif %}
  {% if education and education != '' %}
    {% assign education = education | sort: 'startDate' | reverse %}
  {% endif %}
  {% for content in education %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center date-column">
          {% assign date = nil %}
          {% if content.startDate and content.startDate != '' %}
            {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
            {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
            {% assign date = startDate | append: ' - ' | append: endDate %}
          {% elsif content.year %}
            {% assign date = content.year %}
          {% endif %}
          <table class="table-cv">
            <tbody>
              <tr>
                <td>
                  {% if date %}
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px"> {{ date }} </span>
                  {% endif %}
                </td>
              </tr>
              {% if content.location %}
                <tr>
                  <td>
                    <p class="location">
                      <i class="fa-solid fa-location-dot iconlocation"></i>
                      {{ content.location }}
                    </p>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <div class="resume-entry-body">
            {% if content.logo %}
              {% capture logo_src %}
                {% if content.logo contains '://' %}
                  {{ content.logo | strip }}
                {% else %}
                  {{ '/assets/img/' | append: content.logo | relative_url }}
                {% endif %}
              {% endcapture %}
              <img class="resume-logo" src="{{ logo_src | strip }}" alt="{{ content.institution | default: heading }} logo">
            {% endif %}
            <div class="resume-entry-text">
          {% assign heading = content.studyType | default: content.title %}
          {% assign area = content.area | default: content.degree %}
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            {% if content.url %}
              <a href="{{ content.url }}">{{ heading }}</a>
            {% else %}
              {{ heading }}
            {% endif %}
          </h6>
          {% if content.institution %}
            <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ content.institution }}</h6>
          {% endif %}
          {% if area %}
            <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ area }}</h6>
          {% endif %}
          {% assign bullet_items = content.courses | default: content.description %}
          {% if bullet_items %}
            <ul class="items">
              {% for item in bullet_items %}
                <li>
                  <span class="item">{{ item }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
            </div>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
